html {
box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit; }

body {
  margin: 0;
}

.header {
width: 100%;
}

.header:root {
--color-blue: #33ccff;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 20px;
}

.nav {
  text-align: center;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
}

.nav__link {
  height: 50px;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  padding:0;
  text-transform:uppercase;
  font-weight:500;
  font-family: 'Roboto', sans-serif;
}

.nav__link.is-active {
  position: relative;
}
.nav__item {
  margin-right: 19px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item:first-child {
  margin-left: 0;
}

header > a {
  margin-left: 41.5px;
}

a {
  margin: 0 8.5px;
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 100%;
  background: var(--color-blue); }
