body {
  --header-height: 60px;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

:root {
  --blue-color: #00acdc;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: 50px;
  box-sizing: border-box;
}

a.is-active {
  position: relative;
  color: var(--blue-color);
}

ul {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: black;
  display: flex;
  align-items: center;
  height: var(--header-height);
  text-transform: uppercase;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: var(--blue-color);
}

a.is-active::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 37px;
  height: 4px;
  background: var(--blue-color);
  border-radius: 2px;
}
