html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.header {
  width: 100%;
}

:root {
  --color-primary: #3cf;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 20px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  list-style-type: none;
  height: 50px;
  line-height: 50px;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  color: #222;
}

.nav__link:hover {
  color: var(--color-primary);
}

.nav__link.is-active {
  position: relative;
  color: var(--color-primary);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 100%;
  background-color: var(--color-primary);
}

.nav__item {
  margin-right: 19px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item:first-child {
  margin-left: 0;
}
