html {
box-sizing: border-box;
}

body {
  text-transform: uppercase;
  margin: 0;
}

.header {
width: 100%;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 20px;
}

nav {
  text-align: center;
}

header > a {
  margin-left: 41.5px;
}

a {
  margin: 0 8.5px;
}
.first a {
  margin-left: 0;
}
.last a {
  margin-right: 0;
}

a:hover{
  color: #33ccff;
}

a.is-active::after {
  bottom: -4px;
  position: relative;
}
