html {
box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit; }

body {
  margin: 0;
}

.header {
width: 100%;
--color-blue;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 20px;
}

.nav {
  text-align: center;
}

.nav__link {
 height: 50px;
 padding: 0;
 text-align: center;
 text-transform: uppercase;
}

.nav__item {
  margin-right: 19px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item:first-child {
  margin-left: 0;
}

header > a {
  margin-left: 41.5px;
}

a {
  margin: 0 8.5px;
}

a.is-active::after {
  bottom: -4px;
  position: relative;
}
